<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>
		<title>Home - Brand</title>
		<%- include('head') %>
	</head>

	<body
		id="page-top"
		data-bs-spy="scroll"
		data-bs-target="#mainNav"
		data-bs-offset="54"
		style="background: rgb(47, 54, 58)"
	>
		<nav
			class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark"
			id="mainNav"
			style="background: rgb(47, 54, 58)"
		>
			<div class="container">
				<a class="navbar-brand" href="index-logado">Road.On</a>
				<button
					data-bs-toggle="collapse"
					data-bs-target="#navbarResponsive"
					class="navbar-toggler navbar-toggler-right"
					type="button"
					aria-controls="navbarResponsive"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="fa fa-bars"></i>
				</button>
				<div
					class="collapse navbar-collapse"
					id="navbarResponsive"
					style="padding-right: 12px"
				>
					<ul class="navbar-nav ms-auto text-uppercase">
						<li class="nav-item"></li>
						<li class="nav-item"></li>
						<li class="nav-item">
							<a class="nav-link" href="agendados">Agendados</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="destinos">Destinos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="dashboard">Dashboard</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link active"
								href="registrar-turista"
								style="margin-right: 28px"
							>
								incluir turistas
							</a>
						</li>
						<li class="nav-item"></li>
					</ul>
					<button
						class="btn btn-primary text-uppercase"
						type="button"
						style="color: rgb(0, 0, 0); width: 97.4844px; height: 45px"
					>
						Sair
					</button>
				</div>
			</div>
		</nav>
		<div class="container">
			<section
				class="register-photo"
				style="
					background: rgb(47, 54, 58);
					margin-bottom: 5px;
					margin-top: 30px;
					padding-bottom: 50px;
				"
			>
				<h1
					class="text-capitalize"
					style="
						text-align: center;
						padding: 40px;
						color: rgb(254, 209, 54);
						padding-top: 55px;
						margin-bottom: -35px;
						font-family: 'Kaushan Script', serif;
					"
				>
					Alterar dados do turista
				</h1>
				<div
					class="form-container"
					style="
						border-radius: 30px;
						box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.4);
						background: #343a40;
						padding: 40px;
						margin-top: 60px;
						margin-bottom: 10px;
					"
				>
					<div
						class="image-holder"
						style="
							border-radius: 30px;
							background: url('assets/img/background_turistas.jpg') center /
								cover;
						"
					></div>
					<form
						method="post"
						style="
							border-radius: 30px;
							background: rgb(52, 58, 64);
							width: 515px;
							padding: 105px 60px;
							padding-left: 65px;
							padding-right: 10px;
							padding-top: 40px;
						"
					>
						<div class="mb-3">
							<h5
								style="
									color: rgb(254, 209, 54);
									text-align: center;
									margin-bottom: 30px;
								"
							>
								Dados do passageiro
							</h5>
						</div>
						<div class="mb-3">
							<input
								class="form-control"
								type="text"
								style="border-radius: 15px; margin: 0px; margin-bottom: 15px"
								placeholder="Digite o nome do passageiro"
							/>
						</div>
						<div class="mb-3">
							<input
								class="form-control"
								type="email"
								style="border-radius: 15px; margin: 0px; margin-bottom: 15px"
								placeholder="Digite o E-mail do passageiro"
							/>
						</div>
						<div class="mb-3">
							<input
								class="form-control"
								type="tel"
								style="border-radius: 15px; margin: 0px; margin-bottom: 15px"
								placeholder="Digite o telefone do passageiro"
							/>
							<div>
								<select
									class="form-select"
									style="border-radius: 15px; height: 40px"
									disabled
								>
									<optgroup label="This is a group">
										<option value="12" selected="">This is item 1</option>
										<option value="13">This is item 2</option>
										<option value="14">This is item 3</option>
									</optgroup>
								</select>
							</div>
						</div>
						<div class="mb-3"></div>
						<div class="mb-3"></div>
						<div class="mb-3">
							<button
								class="btn btn-primary d-block w-100"
								type="submit"
								style="
									background: rgb(254, 209, 54);
									color: rgb(0, 0, 0);
									border-radius: 15px;
									padding-bottom: 14px;
								"
							>
								Alterar dados!
							</button>
							<button
								class="btn btn-danger d-block w-100"
								type="button"
								style="
									color: rgb(0, 0, 0);
									border-radius: 15px;
									padding-bottom: 14px;
									margin-top: 23px;
								"
								data-bs-toggle="modal"
								data-bs-target="#modal-exclusao"
							>
								Excluir
							</button>
						</div>
					</form>
				</div>
			</section>
		</div>
		<%- include('footer') %>
		<div class="modal fade" role="dialog" tabindex="-1" id="modal-exclusao">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div
						class="modal-header"
						style="background: #2f363a; border-radius: -11px; padding: 25px"
					>
						<h4 class="modal-title" style="color: rgb(254, 209, 54)">
							Confirmação
						</h4>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"
						></button>
					</div>
					<div class="modal-body" style="background: #2f363a">
						<h3 style="color: rgb(255, 255, 255)">
							Tem certeza que deseja excluir este turista?
						</h3>
					</div>
					<div class="modal-footer" style="background: #2f363a">
						<button
							class="btn btn-danger"
							type="button"
							style="color: rgb(0, 0, 0)"
						>
							Excluir
						</button>
						<button
							class="btn btn-primary"
							type="button"
							style="color: rgb(0, 0, 0)"
							data-bs-dismiss="modal"
						>
							Sair
						</button>
					</div>
				</div>
			</div>
		</div>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/bs-init.js"></script>
		<script src="assets/js/-Filterable-Cards-.js"></script>
		<script src="assets/js/agency.js"></script>
		<script src="assets/js/Dashboard.js"></script>
	</body>
</html>
