<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <%- include('head') %>
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="background: rgb(47,54,58);">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav" style="background: rgb(47,54,58);">
        <div class="container"><a class="navbar-brand" href="index-logado.html">Road.On</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="padding-right: 12px;">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link active" href="agendados.html">Agendados</a></li>
                    <li class="nav-item"><a class="nav-link" href="destinos.html">Destinos</a></li>
                    <li class="nav-item"><a class="nav-link" href="dashboard.html">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="registrar-turista.html" style="margin-right: 28px;">incluir turistas</a></li>
                    <li class="nav-item"></li>
                </ul><button class="btn btn-primary text-uppercase" type="button" style="color: rgb(0,0,0);width: 97.4844px;height: 45px;">Sair</button>
            </div>
        </div>
    </nav>
    <div class="container">
        <section class="register-photo" style="background: rgb(47,54,58);margin-bottom: 5px;margin-top: 30px;padding-bottom: 50px;">
            <h1 class="text-capitalize" style="text-align: center;padding: 40px;color: rgb(254,209,54);padding-top: 55px;margin-bottom: -35px;font-family: 'Kaushan Script', serif;">&nbsp;Altere os dados do agendamento</h1>
            <div class="form-container" style="border-radius: 30px;box-shadow: 3px 6px 20px rgba(0,0,0,0.4);background: #343a40;padding: 40px;margin-top: 60px;margin-bottom: 10px;">
                <div class="image-holder" style="border-radius: 30px;background: url(&quot;assets/img/pexels-pixabay-67566.jpg&quot;) center / cover;width: 606px;"></div>
                <form method="post" style="border-radius: 30px;background: rgb(52,58,64);width: 515px;padding: 105px 60px;padding-left: 65px;padding-right: 10px;padding-top: 40px;">
                    <div class="mb-3">
                        <h5 style="color: rgb(254,209,54);text-align: center;margin-bottom: 18px;">Dados da excursão</h5>
                    </div>
                    <div style="border-radius: 15px;box-shadow: 3px 6px 20px rgba(0,0,0,0.4);background: var(--bs-gray-700);padding: 34px;margin-top: 0px;margin-bottom: 10px;color: var(--bs-gray-800);" class="form-container">
                        <div style="padding: 10px;"><label class="form-label" style="color: rgb(254,209,54);text-align: center;margin-bottom: 18px;font-weight: bold;font-family: Montserrat, sans-serif;font-size: 21px;">Fernando de Noronha</label><label class="form-label" style="color: var(--bs-white);text-align: center;font-weight: bold;font-family: Nunito, sans-serif;font-size: 14px;margin-bottom: 18px;">Valor por pessoa: R$220,00</label><label class="form-label" style="color: var(--bs-white);text-align: center;font-weight: bold;font-family: Nunito, sans-serif;font-size: 14px;">Total de passageiros: 18</label><label class="form-label" style="color: var(--bs-white);text-align: center;font-weight: bold;font-family: Nunito, sans-serif;font-size: 14px;margin-bottom: 25px;">Vagas disponíveis: 4</label></div>
                        <div style="margin-top: -15px;padding: 10px;"><label class="form-label" style="color: var(--bs-white);text-align: center;font-weight: bold;font-family: Nunito, sans-serif;font-size: 14px;">Ida</label><input class="form-control" type="date" style="width: 200px;border-radius: 30px;"><label class="form-label" style="color: var(--bs-white);text-align: center;font-weight: bold;font-family: Nunito, sans-serif;font-size: 14px;margin-top: 15px;">Retorno</label><input class="form-control" type="date" style="width: 200px;border-radius: 30px;"></div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: rgb(254,209,54);color: rgb(0,0,0);border-radius: 15px;padding-bottom: 14px;">Agendar!</button><button class="btn btn-primary d-block w-100" type="button" onclick="window.location.href = 'agendados.html'" style="background: var(--bs-gray-700);color: rgb(0,0,0);border-radius: 15px;padding-bottom: 14px;">Retornar</button></div>
                </form>
            </div>
        </section>
    </div>
    <footer class="align-items-lg-end" style="background: #343a40;color: rgb(52,58,64);"><span class="copyright" style="color: rgb(254,209,54);">RoadOn © 2021</span>
        <ul class="list-inline social-buttons">
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" style="color: rgb(254,209,54);"></i></a></li>
            <li class="list-inline-item"><a href="#" style="color: rgb(254,209,54);"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" style="color: rgb(254,209,54);"></i></a></li>
        </ul>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/-Filterable-Cards-.js"></script>
    <script src="assets/js/agency.js"></script>
    <script src="assets/js/Dashboard.js"></script>
</body>

</html>